* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


    h1 {
        position: absolute;
        z-index: 1;
        text-align: center;
        padding: 11px;
        background-color: rgba(249, 37, 137, 0.5);
        width: 100%; /* Make the h1 element full width */
        top: 50%; /* Position from the top */
        left: 50%; /* Position from the left */
        transform: translate(-50%, -700%); /* Center the h1 element */
}
.container {
    width: 100%;
    height: 100vh;
    background-image: url(calimg2.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 30px;
}

.calculator form input {
    border: 10;
    outline: 0;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background: transparent;
    font-size: 30px;
    color: black;
    cursor: pointer;
    margin: 10px;
    
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 175px;
}



form input.operator {
    color: deeppink;
}